{% extends "menu.html" %}

{% block title %}OneDir{% endblock %}

{% block content %}
	{% if failed %}
		Passwords do not match! Try again. <br>
	{% endif %}
	{% if viewing %}
		Change {{username2}}'s password
	{% else %}
		Change your password
	{% endif %}
	<form action="/password/{{username2}}" method="post">
		{% csrf_token %}
		{% if viewing %}
		<input type="text" name="username" value="{{username2}}"><br>
		{% endif %}
		<input type="password" name="password" placeholder="password"><br>
		<input type="password" name="confirmpw" placeholder="password"><br>
		<input type="submit" value="Accept">
	</form>
{% endblock %}

{% block footer %}
{% endblock %}